.validation-error {
  color: var(--ion-color-danger);
  font-size: 0.8em;
  margin: 5px 10px;
}

ion-item {
  --padding-start: 0;
  margin-bottom: 10px;
  
  ion-label {
    color: var(--ion-color-primary);
  }
}

form {
  margin-top: 20px;
}

ion-button {
  margin-top: 20px;
  --box-shadow: none;
  
  &[disabled] {
    opacity: 0.7;
  }
}

ion-list {
  background: transparent;
  padding: 0;
}
